:root {
  --darkest: #2d2d2d;
  --dark: #353535;
  --background: #1b1b1e;
  --medium: #777c85;
  --light: #b3b9c5;
  --lightest: #fff;
  --muted: #6c6c6d;
  --red: #f2777a;
  --orange: #fca369;
  --yellow: #ffd479;
  --light-yellow: #ffeea6;
  --green: #92d192;
  --blue: #6ab0f3;
  --aqua: #76d4d6;
  --purple: #e1a6f2;
  --biege: #ac8d58;
  --font-code: Hack, Consolas, "Courier New", Courier, monospace;
  --font-normal: "Source Sans Pro", Arial, Helvetica, sans-serif;
  --scrollbar-color-thumb: #222;
  --round-border-radius: 8px;
  --font-size-regular: 14px;
  --font-size-header: 15px;
  --font-size-icon: 15px;
}

@media only screen and (max-width: 530px) {
  :root {
    --font-size-regular: 12px;
    --font-size-header: 13px;
    --round-border-radius: 0;
    --font-size-icon: 13px;
  }
}

@media (max-height: 300px),
only screen and (max-width: 700px) {
  .App_window__cJi-a {
    height: 100% !important;
    left: 0;
    max-height: unset !important;
    top: 0;
    width: 100% !important;
  }
}

@media only screen and (max-width: 530px) {
.commands_infoWrapper__ypaSj {
    padding: 10px 3px;
}
}

@media only screen and (max-width: 530px) {
.commands_infoInner__8EjFE {
    flex-direction: column;
}
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;

}

/* .message
{
    font-family: 'Great Vibes', cursive;
    color: white;
    position: absolute;
    font-size: 95px;
    top:50%;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    z-index: 50;
    margin: auto auto;
    text-align: center;
    display: none;
} */

.message {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
  display: none;
}

.App_window__cJi-a {
  -webkit-animation: App_pop-fade__XIbtt .25s cubic-bezier(.175, .885, .32, 1.275) 1 forwards;
  animation: App_pop-fade__XIbtt .25s cubic-bezier(.175, .885, .32, 1.275) 1 forwards;
  background-color: var(--darkest);
  border-radius: var(--round-border-radius);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10px);
  margin-bottom: auto;
  margin-top: auto;
  max-height: 600px;
  padding: 0;
  width: 700px;
}

.App_titleBar__dY9Qb {
  align-items: center;
  background-color: var(--dark);
  border-radius: var(--round-border-radius) var(--round-border-radius) 0 0;
  color: var(--muted);
  display: flex;
  flex: 0 0;
  font-family: var(--font-normal);
  font-size: var(--font-size-header);
  font-weight: 900;
  padding: 7px 10px;
  position: relative;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.App_dotHolder__kzl4i {
  display: flex;
}

.App_dot__Wv3DD:first-of-type,
.App_dot__Wv3DD:nth-of-type(2) {
  border-radius: 100%;
  content: "";
  height: .8em;
  margin: 5px;
  width: .8em;
}

.App_dot__Wv3DD:first-of-type {
  background-color: var(--red);
}

.App_dot__Wv3DD:nth-of-type(2) {
  background-color: var(--yellow);
}

.App_dot__Wv3DD:nth-of-type(3) {
  background-color: var(--green);
  border-radius: 100%;
  content: "";
  height: .8em;
  margin: 5px;
  width: .8em;
}

.App_titleHeader__KwRPC {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 700 !important;
}

.App_mainContent__VCn8- {
  color: var(--light);
  flex: 1 1;
  font-family: var(--font-code);
  font-size: var(--font-size-regular);
  line-height: 1.4em;
  overflow: hidden;
  padding: 20px;
  transition: scrollbar-color .25s;
  transition-delay: .75s;
}

.App_promptPrefix__GSy2v span:first-of-type {
  color: var(--blue);
}

.App_promptPrefix__GSy2v span:nth-of-type(2) {
  color: var(--light-yellow);
}

.App_validCommand__4ANeC {
  color: var(--green) !important;
}

.commands_infoWrapper__ypaSj {
  padding: 15px 5px;
}

.commands_infoInner__8EjFE {
  align-items: center;
  display: flex;
}

.commands_avatar__sWLQ8 {
  border-radius: 100%;
  max-width: 200px;
  width: 33%;
}

.commands_content__TdfzU {
  flex: 1 1;
  margin-left: 15px;
}

.commands_header__VicU8 {
  margin-bottom: 10px;
}

.commands_header__VicU8 strong {
  font-size: var(--font-size-header);
  color: var(--aqua);
}

.muted {
  color: #6c6c6d;
  color: var(--muted);
  margin-top: 10px;
}

.InputManager_inputWrapper__Q1AYl {
  display: flex;
}

.InputManager_inputForm__fjQj4 {
  flex-grow: 1;
  position: relative;
}

.InputManager_suggested__PSPov {
  color: var(--muted);
  left: 0;
  position: absolute;
  top: 0;
  white-space: pre;
  width: auto;
  z-index: 1;
}

.InputManager_input__Whczs {
  background-color: transparent;
  border: none;
  color: var(--light);
  display: inline;
  font-family: var(--font-code);
  font-size: var(--font-size-regular);
  outline: none;
  padding: 0;
  text-transform: lowercase;
  width: 100%;
  z-index: 2;
}

canvas {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
}

#confetti {
  display: none;
  opacity: 0.5;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(../img/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(../img/twinkling.png) repeat top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

/* .clouds{
    background:transparent url(../img/clouds3.png) repeat top center;
    z-index:3;

    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
} */


#terminal {
  width: 70vw;
  height: 65vh;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#terminal__bar {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}

#bar__buttons {
  display: flex;
  align-items: center;
}

.bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}

.bar__button:hover {
  cursor: pointer;
}

.bar__button:focus {
  outline: none;
}

#bar__button--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
  background-clip: padding-box;
}

#bar__user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
}

#terminal__body {
  background: rgba(56, 4, 40, 0.9);
  font-family: 'Ubuntu Mono';
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
}

#terminal__prompt {
  display: flex;
}

#terminal__prompt--user {
  color: #7eda28;
}

#terminal__prompt--location {
  color: #4878c0;
}

#terminal__prompt--bling {
  color: #dddddd;
}

#terminal__prompt--cursor {
  display: block;
  height: 17px;
  width: 8px;
  margin-left: 9px;
  animation: blink 1200ms linear infinite;
}

@keyframes blink {
  0% {
    background: #ffffff;
  }

  49% {
    background: #ffffff;
  }

  60% {
    background: transparent;
  }

  99% {
    background: transparent;
  }

  100% {
    background: #ffffff;
  }
}

@media (max-width: 600px) {
  #terminal {
    max-height: 90%;
    width: 90%;
  }
}

div.bash {
  background-color: black;
  color: white;
  font-size: medium;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  border-radius: 5px;
  height: 400px;
  margin-top: -200px !important;
  border: 1px solid white;
}